#jinja2: trim_blocks: False
[Service]
{%- import (role_path + "/../docker/templates/systemd/container.service")|relpath(playbook_dir) as service with context %}
{{ service.ExecStart(maildev) }}

[Install]
WantedBy=multi-user.target
